form {
  width: 20vw;
  margin: 2rem auto;
}

label,
input {
  display: block;
  width: 100%;
}

input {
  padding: 0.25rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.35rem;
}

.form-control {
  margin: 2rem 0;
}

.error {
  color: red;
}
